init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.cmd
test: off
version: 0.0.1.{build}

artifacts:
- path: release/nuget/*.nupkg
  name: nugetpacks

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/40fcaa9afb4b47ecafe7
    on_build_success: true
    on_build_failure: true
    
nuget:
  account_feed: true
  project_feed: true
build:
  verbosity: minimal
